@import "../../mixins/pointBrakers.scss";

.categories {
  &__container {
    @include onDesktop {
      display: flex;
      gap: 64px;
      margin-top: 38px;
    }
  }

  &__top {
    @include onDesktop {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__content {
    @include onDesktop {
      width: calc(100% - 64px - 32px);
    }
  }

  &__utils {
    @include onDesktop {
      display: flex;
      flex-direction: column;

      &.hide-slide {
        gap: 24px;
      }
    }
  }

  &__desktop-head {
    @include onDesktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__sort-amount {
    @include onDesktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
    }
  }
}
