@import "../../../mixins/pointBrakers.scss";

.checkout-form {
  &__buttons {
    display: flex;
    margin: 0 0 24px 0;
    padding: 4px;
    border-radius: 6px;
    background: #ebebeb;
    justify-content: space-between;

    @include onDesktop {
      display: flex;
      align-items: center;
      border-radius: 0;
      padding: 0;
      background: none;
      justify-content: flex-start;
    }
  }

  &__button-item {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50%;

    &.active {
      background: #5b24c9;
      border-radius: 5px;

      @include onDesktop {
        border-bottom: 1px solid #212121;
        background: #fff;
        border-radius: 0;
      }
    }

    @include onDesktop {
      cursor: pointer;
      font-size: 16px;
      line-height: 24px;
      background: #fff;
      flex: 0;
      min-width: 180px;
      border-bottom: 1px solid #fff;
      transition: all .2s ease-in-out;

      &:hover {
        border-bottom: 1px solid #212121;
      }
    }
  }

  &__button {
    padding: 8px;
    color: #212121;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 5px;
    background: none;

    @include onDesktop {
      color: #a6a2a2;
      transition: color .2s ease-in-out;

      &:hover {
        color: #212121;
      }
    }

    &.active {
      background: #5b24c9;
      color: #fff;

      @include onDesktop {
        background: #fff;
        color: #212121;
      }
    }
  }
}