@import "../../mixins/pointBrakers.scss";

.register-input {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;

  @include onDesktop {
    margin: 55px 0 0 0;
  }

  &__input {
    color: #212121;
    font-size: 14px;
    padding: 10px 0;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ebebeb;
    outline: none;
    transition: all 0.2s ease-in;

    &:focus {
      border-bottom: 1px solid #5b24c9;
    }
  }

  &__label {
    color: #a6a2a2;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    pointer-events: none;
    left: 0;
    transition: .3s ease all;
    top: -19px;
    font-size: 12px;

    &--warn {
      color: red;
    }
  }
}
