@import "../../../mixins/pointBrakers.scss";

.tabs {
  &__paragraph {
    width: calc(100% + 16px);
    max-height: 400px;
    overflow-y: scroll;
    color: #212121;
    line-height: 27px;

    @include onDesktop {
      max-width: 700px;
      max-height: 300px;
      padding: 0 16px 0 56px;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #6b6b6b;
      border-radius: 6px;
    }
  }

  &__item {
    color: #212121;
    font-size: 16px;
    line-height: 28px;
  }

  &__wrapper {
    @include onDesktop {
      padding: 56px 104px;
      border: 1px solid #ebebeb;
    }
  }
}