@import "../../mixins/pointBrakers.scss";

.sort-menu {
  display: none;

  @include onDesktop {
    display: flex;

  }

  &__content {
    position: absolute;
    background-color: #fff;
    z-index: 1000;
    bottom: 280px;
    max-height: 150px;
    min-width: 208px;
    box-shadow: 0 4px 30px rgba(0,0,0,.1);
    padding: 14px 24px 24px 24px;
  }

  &__title {
    display: flex;
    align-items: center;
    color: #a6a2a2;
    cursor: pointer;
  }

  &__icon {
    width: 24px;
    height: 24px;
    color: #000;
  }

  &__sort {
    color: #000;
    margin-left: 6px;
  }
}