@import "../../../mixins/pointBrakers.scss";

body.no-scroll {
  overflow: hidden;
}

.header {
  position: relative;
  z-index: 2;

  @include onDesktop {
    border-bottom: 1px solid #EBEBEB;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #EBEBEB;
    position: relative;
    z-index: 131;
    background-color: #fff;

    @include onDesktop {
      z-index: 0;
      background-color: transparent;
    }
  }

  &__upperContent {
    color: #A6A2A2;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
  }

  &__navbar-mobile {
    position: absolute;
    top: 111px;
    right: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    z-index: 2;

    @include onDesktop {
      display: none;
    }

    &.show-menu {
      animation: slideIn 1s ease-in-out forwards;
      visibility: visible;
    }

    &.close-menu {
      animation: slideOut 1s ease-in-out forwards;
      visibility: visible;
    }
  }
}



@keyframes slideIn {
  from {
    transform: translateY(calc(-100%));
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}