@import "../../mixins/pointBrakers.scss";

.register {

  &__title {
    margin: 24px 16px 16px;
    padding: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #212121;
    
    @include onDesktop {
      padding-top: 30px;
      margin: 96px 104px 32px 104px;
    }
  }

  &__form {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
  }

  &__button {
    width: 100%;
    margin-top: 50px;
    height: 50px;
    background-color: #212121;
    color: #fff;
    cursor: pointer;
  }
}