@import "../../../mixins/pointBrakers.scss";

.checkout-user-form {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin-bottom: 20px;

    @include onDesktop {
      flex-direction: row;
      margin: 24px 80px 40px 0;
      width: auto;
    }
  }

  &__item {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    color: #a6a2a2;
    cursor: pointer;

    &.active {
      color: #5b24c9;
    }
  }

  &__container {
    @include onDesktop {
      display: flex;
    }
  }

  &__container-children {
    @include onDesktop {
      width: 50%;
      font-size: 14px;
      line-height: 24px;
      display: inline-block;
      vertical-align: top;
      white-space: normal;
      padding: 0 40px 0 0;
      color: #212121;
    }
  }

  &__number {
    margin-right: 8px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 48px;
    padding: 0 16px;
    cursor: pointer;
    outline: 0;
    background: #212121;
    color: #fff;
    font-size: 14px;
    line-height: 24px;

    @include onDesktop {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 32px 0 0 0;
      width: 50%;
      margin-left: auto;
    }
  }

  &__button-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 48px;
    padding: 0 16px;
    cursor: pointer;
    outline: 0;
    background: #212121;
    color: #fff;
    font-size: 14px;
    line-height: 24px;

    @include onDesktop {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 50px 0 0 0;
      width: 100%;
      margin-left: auto;
    }
  }

  &__label {
    color: #212121;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
  }

  &__wrapper {
    display: flex;
    gap: 8px;
  }

  &__existing {
    margin: 0 0 16px 0;
    color: #212121;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  &__modal {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }

  &__modal-message {
    font-size: 34px;
    font-weight: 600;
    color: green;
  }

  &__modal-link {
    font-size: 20px;
    color: #5b24c9;
  }
}