@import "../../mixins/pointBrakers.scss";

.photo-slider {
  display: flex;
  transition: all 0.6s ease-in-out;

  &__item {
    flex: 0 0 calc(100% - 10px);
    display: flex;
    margin: 0 5px;
    pointer-events: auto;
    align-items: center;
    justify-content: center;
    
    
    &--active {
      transition: all 0.3s ease-in;
      &:hover {
        transform: scale(1.6);
      }
    }
  
    @include onDesktop {
      flex: 0 0 calc(100% - 10px);
    }
  }
}