@import "../../../mixins/pointBrakers.scss";

.card {
  margin-top: 20px;
  position: relative;

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 40px 32px;
    transition: transform 0.3s ease, opacity 0.3s ease;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.02;
      background: #000;
      pointer-events: none;
    }
  }

  &__name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #212121;
    margin: 16px 20px 0 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100% - 296px);
  }

  &__group {
    overflow: hidden;
    max-width: 280px;
    max-height: 48px;
    margin: 6px 0 0 0;
    color: #a6a2a2;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: flex-end;
  }

  &__rate {
    margin: 12px 0 0 0;
    color: #a6a2a2;
    font-size: 14px;
    line-height: 24px;
  }

  &__price {
    color: #212121;
    font-size: 14px;
    line-height: 24px;
    margin: 4px 0 0 0;
  }

  &__purchase-button {
    display: none;
    @include onDesktop {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;
      width: 100%;
      z-index: 1;
      padding-top: 15px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      opacity: 1;
      bottom: -120px;
      z-index: 1002;
      visibility: visible;
      overflow: auto;
    }
  }

  &__purchase-button-mobile {
    @include onDesktop {
      display: none;
    }
  }
}