.user {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-block: 120px;
  transition: opacity 0.3s ease-out;

  &--logout {
    opacity: 0;
  }

  &__content {
    width: 350px;
  }

  &__submit {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }

  &__submit-title {
    font-weight: 600;
    color: #212121;
    font-size: 26px;
    line-height: 40px
  }

  &__nav {
    border-right: 1px solid #eee;
  }

  &__tab {
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px 8px 0;
    margin: 0 -1px 8px 0;
    cursor: pointer;

    &.active {
      color: #5b24c9;
      border-right-color: #212121;
    }
  }

  &__logout {
    color: #a6a2a2;
    background: none;
    cursor: pointer;
    margin: 40px 0 0 0;
  }

  &__save-button {
    background: #212121;
    margin: 0 23px 0 0;
    width: 100%;
    height: auto;
    min-height: 48px;
    padding: 0 16px;
    color: #fff;
    font-size: 16px;

    &.disable {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }

  &__submit-email {
    display: flex;
    
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
