@import "../../mixins/pointBrakers.scss";

.productList {
  &__list {
    display: flex;
    flex-flow: row wrap;
    
    @include onDesktop {
      margin: 0 -9px;
    }
  }

  &__item {
    flex: 0 0 calc(50% - 4px);
    margin: 0 2px 24px 2px;

    @include onDesktop {
      flex: 0 0 calc((100% / 3) - 18px);
      margin: 0 9px 24px 9px;
    }
  }
}