@import "../../mixins/pointBrakers.scss";

.login {
  padding: 32px 16px;
  width: 100vw;
  background-color: #fff;

  @include onDesktop {
    max-width: 336px;
    box-shadow: 0 4px 30px rgba(0,0,0,.1);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;

    @include onDesktop {
      padding-top: 14px;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    width: 235px;
    text-align: center;
  }

  &__password-container {
    position: relative;
  }

  &__success-title {
    color: green;
  }

  &__warn-title {
    color: red;

  }

  &__toggle {
    position: absolute;
    top: 42%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__email-container {
    position: relative;
  }

  &__error {
    color: red;
    font-size: 14px;
    position: absolute;
    right: 0;
    transform: translateY(100%);
    top: 10%;
  }

  &__wrapper {
    padding-top: 24px;

    @include onDesktop {
      width: 338px;
    }
  }

  &__close {
    display: flex;
    cursor: pointer;

    @include onDesktop {
      display: none;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    
    @include onDesktop {
      align-items: center;
    }
  }

  &__input {
    outline: none;
    border: none;
    width: 100%;
    padding-block: 24px;
    border-bottom: 1px solid #EBEBEB;
    text-size-adjust: 100%;


    &::placeholder {
      font-size: 14px;
      color: #333;
    }

    @include onDesktop {
      width: 230px;
    }
  }

  &__password {
    outline: none;
    border: none;
    width: 100%;
    padding-block: 24px;
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 24px;
    text-size-adjust: 100%;

    &::placeholder {
      font-size: 14px;
      color: #333;
    }

    @include onDesktop {
      width: 230px;
    }
  }

  &__button {
    padding-block: 16px;
    background-color: #212121;
    color: #fff;
    font-size: 16px;
    width: 100%;

    @include onDesktop {
      width: 234px;
    }
  }

  &__last {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;

    @include onDesktop {
      margin-inline: 54px;
    }
  }

  &__lost {
    font-size: 14px;
    color: #212121;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      color: #5b24c9;
    }

    @include onDesktop {
      font-size: 12px;
    }
  }

  &__register {
    color: #212121;
    font-size: 14px;
    transition: color 0.3s;

    &:hover {
      color: #5b24c9;
    }

    @include onDesktop {
      font-size: 12px;
    }
  }
}