@import "../src/mixins/pointBrakers.scss";

iframe {
  display: none;
}

.App {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;

  @include onDesktop {
    margin-inline: 48px;
  }
}

button {
  border: none;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 230;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

video {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

