@import "../../../mixins/pointBrakers.scss";

.slider-top {
  margin: 48px 16px 16px 16px;
  display: flex;
  justify-content: space-between;

  @include onDesktop {
    margin-block: 96px 32px;
  }

  &__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;

    @include onDesktop {
      margin: 0 auto;
    }
  }

  &__content {
    display: flex;
    gap: 20px;
  }

  &__button {
    background: none;
    cursor: pointer;
  }

  &__dots {
    display: flex;
    gap: 10px;
  }

  &__dot {
    background-color: #e2e6e9;
    height: 4px;
    width: 4px;
    border-radius: 50%;

    cursor: pointer;
    transition-duration: 0.3s;

    &.active {
      background-color: black;
    }
  }
}

.productSlider {
  // overflow: hidden;
  margin-inline: 16px;

  @include onDesktop {
    margin: 0 -10px 0 -10px;
  }

  &__list {
    display: flex;
    transition: transform 0.4s ease-in-out;
  }

  &__item {
    flex: 0 0 calc(50% - 10px);
    margin: 0 5px;
    pointer-events: auto;

    @include onDesktop {
      flex: 0 0 calc(25% - 16px);
      margin: 0 8px;
    }
}
}